---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Slimane CHIHATI" description="Slimane CHIHATI ">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="About"
				tagline="Thanks for stopping by. Read below to learn more about myself and my background."
			>
				<img
					width="1553"
					height="873"
					src="/assets/at-work.jpg"
					alt="Jeanine White at work with a colleague"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						As a Civil Engineering engineer retrained in the field of IT, I recently completed my training as an Application Designer and Developer at AFPA in Roubaix. I am looking for exciting opportunities as a junior developer. I have a solid knowledge base in software development and I acquired practical skills during concrete projects during my training. I am passionate about programming and I am constantly on the lookout for the latest technologies and best practices in the sector. I am motivated, curious and I adapt quickly to new technologies and dynamic work environments. I am ready to take on new challenges and actively contribute to the success of a company by providing innovative and high-quality solutions. I invite you to consult my LinkedIn profile to learn more about my background and my skills. I am open to professional opportunities in the field of software development and I look forward to being part of a dynamic team and learning.

						Trained in the development of heavy client/web/mobile applications, I was able to carry out projects requiring mastery of:
						- MSSQLServer database design (MCD/MLD)
						- Talend data integration
						- Code & interface JavaJEE/Kotlin, Hibernate, JSF, PrimeFaces
						- Restful spring boot/Quarkus / Quarkus Reactive API.
						- Docker containerization.
						- Github/GitLab
						- Deployment: Ansible & Jenkins
						-React
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						June 2023: CDA (Application Designer Developer) Degree - AFPA Roubaix.
						Nov 2021 - Feb 2022: MS Full Stack Developer Training - AFPA Roubaix.
						Oct 2021 - Nov 2022: Digital Nursery (1 training = 1 job) - Euratechnologies Lille.
						2012: Master's degree in Civil Engineering, specializing in Structure and Infrastructure - Faculty of Applied Sciences in Béthune.
						2009: Master's degree in Civil Engineer in Public Works - National School of Public Works of Algiers.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<p>
						In my professional journey, I've honed a set of skills that define my approach to work. I pride myself on being methodical, ensuring rigorous planning and precision in every task. Adaptability is another strength, allowing me to navigate changes seamlessly and respond optimally to evolving situations.
						
						My creative mindset is evident in my problem-solving approach, always striving for innovative solutions. I bring sociability to the team, fostering effective communication and seamless collaboration.
						
						With expertise in project management, I ensure the success of initiatives through mastery of techniques. As a team leader, I exhibit strong management skills, driving my team toward set objectives. Proactive collaboration defines my team spirit, contributing to collective success.
						
						Furthermore, my interpersonal skills are advanced, enabling me to establish strong and lasting relationships. I approach each challenge with a user-centric mindset, understanding the importance of user experience and satisfaction.
						
						This diverse skill set, from methodical planning to effective team collaboration, positions me as a valuable asset, ready to contribute to any project or team.</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
